#trainer-clients .user-avatar {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

#trainer-clients .selected-client-name {
    padding-left: 5px;
}

#trainer-clients .client-list-text {
    transform: translateY(20%);
}

#trainer-clients .client-list-item:hover {
    opacity: 0.5;
    cursor: pointer;
}

#trainer-clients .client-menu-items {
    background-color: #1d1a1a;
    color: white;
}

#trainer-clients .client-menu-item {
    cursor: pointer; 
    padding: 8px;
}

#trainer-clients .client-menu-item.active {
    border-bottom: solid #3abfe0 5px;
    padding-bottom: 3px;
}