#intro-bar {
    background: black;
    background-image: url("../../../assets/img/klink_plank_cropped.jpeg"); /* fallback */
    background: url("../../../assets/img/klink_plank_cropped.jpeg") no-repeat 0% 0%, linear-gradient(to right, grey, black); /* W3C */
    background-blend-mode: darken;
    min-height: 150px;

    font-size: 48px;
    font-weight: bold;
    color: white;
}

#intro-message {
    transform: translateY(50%);
    padding-right: 10px;
}

#fresh-content-title {
    font-size: 50px;
    font-weight: bold;
}

#fresh-content-paragraph {
    font-size: 16px;
}

#email-input {
    border-radius: 3px;
}

#the-latest {
    font-size: 30px;
    font-weight: bold;
}

#who-is-title {
    font-size: 60px;
    font-weight: bold;
}

#who-is-paragraph {
    font-size: 18px;
}

#home .recent-post {
    border: solid 1px black;
    background-color: rgb(49, 37, 37);
    color: white;
}

#home .post-title {
    font-size: 35px;
    font-weight: bold;
}

#home .post-body {
    max-height: 400px;
    overflow-y: hidden;
    font-size: 16px;
}

#home .post-link:visited {
    color: white;
}