/**

This is where styling code that can be used application-wide should be stored

*/

/*general styling to ensure the page is as large as it can be */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* set the font for the entire app */
body button, input, select, textarea, table, td, tr, span {
    font-family: "Hind", sans-serif;
    text-transform: none;
}

a:link {
    text-decoration: none;
}

/* this div is the top level div and exists in index.html. Setting position to relative here allows us to set the
footer to the bottom of the page using position:absolute within this wrapper
*/
#wrapper {
    min-height: 100%;
    position: relative;
}

.dcx-blue {
    background-color: #00aadf;
}

.dcx-blue-text {
    color: #00aadf;
}

.text-white {
    color: white;
}

.dcx-green-text {
    color: #22cb06;
}

.font-bold {
    font-weight: bold;
}

.font-italic {
    font-style: italic;
}

/* use these header-bar classes to configure page's top row. Most pages have a so-named header-bar and if used
correctly these classes will do the majority of the heavy lifting. See gateways or nodes for examples
*/
.header-bar {
    margin-top: 20px;
    padding: 0 10px 10px 10px;
    border-bottom: solid rgba(0, 0, 0, 0.12) 1px;
}

.header-bar .header-text {
    margin-top: 15px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 20px;
}

.header-bar button {
    max-height: 35px;
}

.header-bar md-input-container {
    margin-top: 5px;
    margin-bottom: 5px;
}

div, i {
    outline: none;
}

@font-face {
    font-family: 'Mensch';
    src: url('../assets/fonts/mensch-inline-wf.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 400;
  src: local('Hind Regular'), local('Hind-Regular'), url(../assets/fonts/hind.woff2) format('woff2');
  unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 
 
.animate-enter.animate-enter-active, 
.animate-leave {
    opacity: 1;
    top: 0;
    height: 30px;
}
 
.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    top: -50px;
    height: 0px;
}

.no-errors-spacer .md-errors-spacer {
    min-height: 0px;
}

.space-taking-hide.ng-hide {
    display: inherit !important;
    visibility: hidden;
}

.cursor-pointer {
    cursor: pointer;
}

.close-dialog {
    cursor: pointer;
    padding-top: 6px;
}