<div id="reset">
    <md-toolbar class="reset-alert" ng-show="Password.alertMessage">
        <div class="md-toolbar-tools">
            <span>{{ Password.alertMessage }}</span>
        </div>
    </md-toolbar>
    <form ng-submit="Password.submit(Password.user)">
        <div class="reset-modal" layout="column">
            <md-input-container id="password">
                <label>New Password</label>
                <input required type="password" ng-model="Password.user.password"/>
            </md-input-container>
            <md-input-container id="confirm">
                <label>Confirm new password</label>
                <input required type="password" ng-model="Password.confirmPassword"/>
            </md-input-container>
            <md-button class="dcx-blue text-white" type="submit">Finish</md-button>
        </div>
    </form>
</div>