#mack-name {
    font-size: 26px;
    color: #ffcb2f;
    font-weight: bold;
}

#navbar .md-toolbar-tools {
    background-color: white;
}

#navbar .navigator-item {
    cursor: pointer;
/*    padding: 0 15px;*/
    height: 100%;
    text-align: center;
    color: black;
    transform: skewX(-20deg);
    border-right: black solid 1px;
    outline: none;
}

#navbar .navigator-item:hover {
    color: #ffcb2f;
}

#navbar .navigator-item.active {
    border-top: solid #ffcb2f 5px;
}

#navbar .navigator-name {
    text-transform: uppercase;
    font-size: 12px;
    padding: 25px 25px;
    transform: skewX(20deg);
}

#navbar .navigator-item.active .navigator-name {
    padding-top: 20px;
}