/*
#navbar .navbar-text {
    margin-left: 20px;
    font-size: 16px;
}

#navbar span {
    font-size: 16px;
}
*/

#mack-name {
    font-size: 26px;
}

#navbar .navigator-item {
    cursor: pointer;
    padding: 0 15px;
    height: 100%;
    text-align: center;
}

#navbar .navigator-item:hover {
    color: black;
    background: yellow;
}

#navbar .navigator-name {
    text-transform: uppercase;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
}