<div id="trainer-workouts" flex layout="column">
    
    <md-toolbar>
        <div class="md-toolbar-tools" layout>
            <md-button ng-click="Workouts.create()" class="md-accent md-raised">New</md-button>
            <md-button ng-click="Workouts.create()" class="md-accent md-raised fa fa-trash"></md-button>
            <span flex></span>
            <md-input-container id="workouts-search">
                <label><i class="fa fa-search"></i></label>
                <input ng-model="Workouts.searchFilter"/>
            </md-input-container>
        </div>
    </md-toolbar>
    
    <div class="trainer-workouts-body" layout flex>
        <md-sidenav id="trainer-workouts-sidenav" class="md-sidenav-left" md-component-id="{{Workouts.sidenavName}}" 
                    md-is-locked-open="true" flex="20">
                <div class="sidenav-item" ng-class="{active : Workouts.selectedWorkout === workout }" layout 
                     ng-repeat="workout in Workouts.workouts"
                     ng-click="Workouts.selectWorkout(workout)">
                    <i class="fa" ng-class="workouts.icon"></i>
                    <div class="sidenav-entry">{{ workout.name }}</div>
                </div>
                <div class="filler" flex></div>
        </md-sidenav>
        
        <div class="workout-demo" flex layout="column">
            <div class="workout-name">{{Workouts.selectedWorkout.name}}</div>
            <div class="workout-part" ng-repeat="part in Workouts.selectedWorkout.parts" ng-switch on="part.type">
                <div ng-switch-when="SET" layout class="set">
                    <div class="name-and-description" layout="column">
                        <div class="segment-name">{{part.segments[0].name}}</div>
                        <div class="segment-description">{{part.segments[0].description}}</div>
                    </div>
                    <span flex></span>
                    <img class="cursor-pointer" ng-src="{{part.segments[0].thumbnailUrl}}" height="122" width="160" ng-click="Workouts.watchVideo(part.segments[0])"/>
                </div>
                <div ng-switch-when="SUPERSET|CIRCUIT|INTERVAL" ng-switch-when-separator="|" class="multi-segment" layout="column">
                    <div class="multi-title">{{part.type}} of {{part.multiplier}} rounds</div>
                    <div ng-repeat="segment in part.segments" layout class="segment">
                        <img class="cursor-pointer" ng-src="{{segment.thumbnailUrl}}" height="36" width="48" ng-click="Workouts.watchVideo(segment)"/>
                        <div class="segment-name" flex="25">{{segment.name}}</div>
                        <div class="multiplier" flex="10">{{part.multiplier}}</div>
                        <div class="target" flex>{{segment.target}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>