#train-with-me .are-you-ready {
    font-size: 34px;
    font-weight: bold;
}

#train-with-me .right-place {
    font-size: 26px;
    font-weight: bold;
}

#train-with-me .quote {
    font-size: 20px;
}

#train-with-me .body-paragraph{
    font-size: 16px;
}