<div id="train-with-me" layout="column" layout-padding xmlns="http://www.w3.org/1999/html">

    <div layout layout-padding>
        <span flex></span>
        <div class="are-you-ready">Are You Ready
            To Take Your Body From Ordinary To Extraordinary?
        </div>
        <span flex></span>
    </div>

    <div layout layout-padding>
        <span flex></span>
        <div class="right-place">Then you've come to the right place</div>
        <span flex></span>
    </div>

    <md-divider></md-divider>

    <div layout layout-padding>
        <span flex></span>
        <div id="body-paragraph">
            Hey there!
            
            My name is Mackennon Klink, and I’m the owner, lead author, and head trainer here at Mack Performance.  I want to thank you for coming to my little corner (square inch?) of the internet.  For doing so, cheers
            
            <img src="http://pixel.nymag.com/imgs/daily/vulture/2015/gifs/leo-toast-9.w529.h352.gif"/>

            Here at Mack Performance, I mainly focus on strength training, athletic performance, fat loss, body composition, Game of Thrones, and self-improvement (I’m a junkie - guilty).  If any of those things sound interesting to you, then you’ve arrived in the square inch of the internet!!

            I am a Certified Strength and Conditioning Coach, Certified Personal Trainer, Certified Corrective Exercise Specialist, and Precision Nutrition coach.  I’ve been training individuals for the past five years.  During those years, I’ve helped everyone from high school and collegiate athletes, professional athletes, and every day busy professionals.  

            My focus is to help eliminate the clutter within the fitness industry.  My goal is to provide the necessary knowledge, coaching, and confidence to incorporate the best possible training and nutritional plan to fit your individual busy lifestyle.  

            My approach to training is straight forward, no bullshit, with no “fluffy” exercises to waste your time.  Your time is valuable and your most precious resource.  Fitness should be simple and enjoyable.  I firmly believe fitness should augment your life, not consume it.  

            As your coach, I promise

            Your workouts will be both simple and effective to meet your individual goals. 
            Your workouts will be short and focused, allowing you to lose your gut, develop muscles you thought you never had, even with your busy life.  Your workouts will be between 45-60 minutes long, so you can get on with your life.
            All programs are customized tailored to fit your current mobility, flexibility, strength, and eating habits.  Each program will focus on your desired goals, whether it’s to develop that athletic body you always desired or torch the fat around your gut or even the dreaded “man boobs.”  

            That being said, I don’t work with everyone.  Don’t apply if….

            You have a severe injury.  While you’ll stay pain-free, fixing serious injuries is outside my scope of practice.  
            You’re lazy and looking for that shortcut.  As human being, we have a habit of always wanting to take the path less resistance. In short, they want the magic pill, where you’ll do this supplement and lose 20 pounds overnight.  Sorry, those don’t exist.  There are no short cuts beyond an expert plan and consistent hard work.  

            My coaching and programming is for you if

            You want to get ripped and athletic.  I’ll help you regain your old athleticism and to look and perform the part from the gym to the flag football games.
            Are ready to put forth the necessary work to met your goals both within the gym and kitchen while maintaining your life.  
            You are willing to work with me.  Online coaching is a two-way road, requiring both trust and communication on both parts.
            You’re willing to invest $200-400 into your fitness
            Want to have that feeling when you look into the mirror each morning and taking your shirt off at the beach.
            Want to lose that gut for once and for all

            Enough talk.  My online client spots are very competitive and I only want to work with serious action takes.  

            It’s your time to make a decision.  You can either continue on your path of wondering “what if” or you can fill out that application below and change your path.  

            After looking over your application, I’ll be in contact with you shortly to discuss our plan of attack to make sure the this program is right for you, then I’ll be making your custom training program so you’ll start seeing results.

            <div class="quote">
                "In the moment of any decision, the best thing you can do is the right thing.  The next best thing is the wrong thing.  The worst thing you can do is nothing.” - Theodore Roosevelt
            </div>
            
        </div>
        <span flex></span>
    </div>

</div>