<div id="train-with-me" layout="column" layout-padding xmlns="http://www.w3.org/1999/html">

    <div layout layout-padding>
        <span flex></span>
        <div class="are-you-ready">Are You Ready
            To Take Your Body From Ordinary To Extraordinary?
        </div>
        <span flex></span>
    </div>

    <div layout layout-padding>
        <span flex></span>
        <div class="right-place">Then you've come to the right place</div>
        <span flex></span>
    </div>

    <md-divider></md-divider>

    <div layout layout-padding>
        <span flex></span>
        <div class="quote">"Go big or go home" - Mack</div>
        <span flex></span>
    </div>

    <div layout layout-padding>
        <span flex></span>
        <div id="body-paragraph">If you’re like me, you probably wish you’d read that quote and taken it to heart years
            ago, before you hit that point when you were frustrated with your body.

            And before you routinely hit the gym and wondered, “Should I train legs today? Or…should I bail on it and
            hit some curls. Yeah, let’s do biceps curls. Damn, I really wish I had an exercise program that was just for
            me.”

            And before you hit the frustrating strength plateau that has you busting your ass in the gym and feeling
            beat up, but not getting any stronger or more muscular.

            And definitely, before the fat loss diet that worked like magic for ten days came to a screeching halt.

            Now you’re stuck in the cycle of waking up each morning, looking in the mirror, and feeling sick of same old
            “average” body looking back at you in the mirror…despite all the time and effort you’ve put into your body.

            It doesn’t get easier. You can’t even go on Facebook without seeing seven different posts on the best way to
            lose fat and build muscle. You’re probably overwhelmed and wondering:

            <div class="quote"> “Why even bother? Everything I do seems to be wrong. Nothing works for me.”</div>

            I don’t say this to blame you. I want you to know that it’s not your fault.

            These days, the deck is stacked against you getting in shape.

            Feeling overwhelmed with all the information about healthy eating, working out, is now the norm. And it’s
            leaving you pissed off, frustrated, and confused.

            I get it. And that’s why I want to help you. With this coaching program, you will change all of that. I will
            help alleviate your anxiety and help you build your best body once and for all.
        </div>
        <span flex></span>
    </div>

    <md-divider></md-divider>

    <div layout layout-padding>
        <span flex></span>
        <div id="body-paragraph">
            Why am I telling you this?

            Because I’ve been in your shoes. Growing up, I went from the chubby kid to suddenly being the smallest,
            weakest kid around. I was teased. I was called tiny. I even heard “Bach is a little bitch.” Ouch!

            And as a result, I was timid and weak. I compared myself unfavorably to others and hated the reflection
            looking back at me in the mirror. Naturally, I wanted a solution. Brett Favre seemed pretty cool, girls
            liked him, and he played Football. Why couldn’t I do the same?

            Well, I was a 5’3″ 103-pound runt at the time, that’s why.

            At one practice I found myself between Jason, a bigger guy in my class, and the end zone. Rather than run
            around and try to avoid me, Jason trucked me, laughing on his way to the end zone.

            I was the path of least resistance.

            Yeah, it hurt. But the pain was more mental than it was physical.

            I felt pathetic, weak, and insignificant….a feeling I never wanted to feel again.

            I was about to walk off the field when coach Morgan grabbed me and said: “Meet me in the weight room after
            practice.” Going to the gym was the last place I wanted to be. I didn’t want to be near the bigger, stronger
            guys who always gave me shit.

            Plus, all the fitness magazines I was reading gave me confusing, conflicting information. If one article
            said do squats the next one would say squats are bad for your knees.

            I wondered…

            <div class="right-place"> Can I Really Do This? Or Would This Be Another Failure?</div>

            Still, I heeded coach Morgan’s advice and showed up to the gym. And promptly fell in love with training.

            I was still small. But step by step, I improved. I went from a 103-pound weakling to 140 pounds in nine
            months. By the start of the next year, I was up to 155 pounds. All of a sudden, I was stronger, faster, and
            had a bit of muscle.

            Mentally, I grew the confidence to talk to girls, get back on the field, and take control of my body.

            In the blink of an eye, the truth became apparent: Building a strong, capable body is a driving force behind
            building an extraordinary life.

            Fast forward to today. I’m a Certified Strength and Conditioning Specialist (CSCS) and Precision Nutrition
            (PN1) coach and have been featured in top media outlets like CNN, The Huffington Post, Livestrong,
            Bodybuilding.com, The Personal Trainer Development Center, Muscle and Strength, and T-Nation.

            Over the past decade, I’ve been mentored by numerous top coaches and have worked with everyone from college
            and pro athletes to people just like you: busy men and women who want to be strong, athletic, and look
            better naked.

            <div class="right-place">But Lets Talk About The Real Reason You’re Here</div>

            You know the pain of not feeling comfortable in your own skin. And in my experience, building a strong,
            capable body is the key to transforming your life both mentally and physically.

            Still, the process isn’t easy. Tell me if this sounds familiar: You’re sitting on a flight, reading an
            overpriced fitness magazine you picked up at the airport.

            Splattered across the cover are headlines like “Add Three Inches to your Biceps In Six Days!” Or my personal
            favorite, “The Trick Movie Stars use to Get Six Pack Abs in Three Weeks”.

            Naturally, you’re intrigued. You read the articles and get ready to do the workouts first thing when you get
            home.

            This is it. You commit to making the big change and transform your body once and for all.

            Then, life happens.

            Urgent business meetings force you to skip that lunch time workout.

            Chauffeuring the kids leaves little time to prep food. So you frantically speed through the drive-thru for
            burgers and fries, wit a side order of regret.

            Then, it’s the summer cookouts. You don’t want to hear the snarky comments, “why are you eating that?” from
            your buddies. Nor do you want to be the guy sitting silently in the corner with a plate of rubbery chicken
            and steamed broccoli while everyone else enjoys bourbon, burgers, and a good time.
        </div>
        <span flex></span>
    </div>

</div>