<div id="trainer-exercises">
    <md-toolbar>
        <div class="md-toolbar-tools" layout>
            <md-button ng-click="Exercises.create()" class="md-accent md-raised">New</md-button>
            <md-button ng-click="Exercises.create()" class="md-accent md-raised fa fa-trash"></md-button>
            <span flex></span>
            <md-input-container id="exercises-search">
                <label><i class="fa fa-search"></i></label>
                <input ng-model="Exercises.searchFilter"/>
            </md-input-container>
        </div>
    </md-toolbar>
    <div class="exercise-thumbnails" layout layout-padding layout-wrap>
        <div class="exercise-thumbnail" ng-repeat="exercise in Exercises.exercises | filter: Exercises.searchFilter" ng-click="Exercises.watchVideo(exercise)" layout flex="20" ng-animate=" 'animate' ">
            <img ng-src="{{exercise.thumbnailUrl}}" height="100" width="100"/>
            <div class="thumbnail-description" flex>
                <div class="thumbnail-name">{{exercise.name}}</div>
            </div>
        </div>
    </div>
</div>